.github-link {
  color: #eee;
  position: absolute;
  top: 12px;
  left: 10px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'FortAwesome';
  font-size: 2em;
  text-decoration: none;

  &:before {
    content: '\f002';
  }

  &:hover {
    color: #fff;
  }
}
