@import 'comment';

.story {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;

  .story-body {

    .story-text {
      margin: 5px;
      word-wrap: break-word;
      // word-break: break-all;

      &:empty {
        display: none;
      }
    }

    .story-comments {
      padding: 5px;

      &:empty:before {
        color: #aaa;
        content: "No comments";
      }
    }

    .story-comments, .story-text {
      * {
        word-wrap: break-word;
        // word-break: break-all;
      }
      a {
        text-overflow: ellipsis;
      }
      // @media (max-width: 600px) {
      //   max-width: 570px;
      // }
      //
      // @media (max-width: 500px) {
      //   max-width: 470px;
      // }
      //
      // @media (max-width: 400px) {
      //   max-width: 370px;
      // }
      //
      // @media (max-width: 300px) {
      //   max-width: 270px;
      // }
    }
  }
}
