@import 'comment';

.story {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;

  .story-body {

    .story-text {
      margin: 5px;
      word-wrap: break-word;

      &:empty {
        display: none;
      }
    }

    .story-comments {
      padding: 5px;

      &:empty:before {
        color: #aaa;
        content: "No comments";
      }
    }

    .story-comments, .story-text {
      * {
        word-wrap: break-word;
      }
      a {
        text-overflow: ellipsis;
      }
    }
  }
}
