.story-list {
  min-width: 300px;
  width: 300px;
  overflow-x: auto;
  padding-right: 10px;

  .header {
    @include headerMixin;
    position: fixed;
    width: 300px;
    max-width: 300px;
    &:after {
      content: "Elm HN reader";
    }
  }

  .story:empty ~ & {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    overflow: auto;
    font-size: 1.3em;

    & > .header {
      width: 100%;
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 1.5;
    }
  }

  .story-link {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    color: grey;
    border-left: 3px solid $hnbg;
    border-bottom: 1px solid #ddd;

    &:hover {
      background-color: $hngreybg;
      border-left-color:  $hngreybg;
    }

    &:nth-child(2) {
      margin-top: 62px;
    }

    &.opened {
      color: $hoverColor;
      border-left-color: $hnorange;
    }

    .story-title {
      display: flex;
      flex-direction: column;

      .title-text {
        cursor: pointer;
        &:hover {
          color: $hoverColor;
        }
      }

      .url {
        cursor: pointer;
        margin-top: 4px;
        font-size: .7em;
        text-overflow: ellipsis;
        max-width: 240px;
        white-space: nowrap;
        overflow: hidden;

        a {
          text-decoration: none;
          color: grey;
          &:hover {
            color: $hoverColor;
          }
        }
      }
    }

    .story-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      color: #777;
      margin-left: 3px;
      font-size: .75em;

      @mixin infoIcon($code) {
        margin-top: 3px;
        &:before {
          color: #bbb;
          font-family: 'FortAwesome';
          padding-right: 2px;
          content: $code;
        }
      }

      .story-score {
        @include infoIcon('\f001')
      }

      .story-comments {
        @include infoIcon('\f000');
      }
    }
  }
}
