@import 'comment';

.story {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &:empty {
    display: none;
  }

  .story-title {
    @include headerMixin(1.2em);
  }

  .story-body {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;

    .story-text {
      margin-top: 70px;
      margin: 5px;

      &:empty {
        display: none;
      }
    }

    .story-comments {
      padding: 5px;
    }
  }
}
