$hnorange: #ff6600;
$hngreybg: #dad0c1;
$hnbg: #fff9f1;
$hoverColor: #333;

@mixin headerMixin {
  height: 40px;
  min-height: 40px;
  padding: 6px;
  font-size: 1.5em;
  text-align: center;
  background-color: $hnorange;
  color: white;
  line-height: 2;
}
