@import '../normalizr/normalize.min.css';
@import '../normalizr/main.css';

@import 'variables';
@import 'components/header';
@import 'components/story-list';
@import 'components/story';

html, body {
  height: 100%;
  background-color: $hnbg;
  color: #222;
  padding: 0;
  margin: 0;
}

body {
  .content {
    padding-top: 50px;
    box-sizing: border-box;
    height: 100%;

    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-end;

    @media (max-width: 640px) {
      font-size: .9em;
    }

    @media (max-width: 570px) {
      font-size: .9em;
    }

    @media (max-width: 480px) {
      font-size: .8em;
    }

    @media (max-width: 320px) {
      font-size: .7em;
    }
  }
}
